[Unit]
Description=application.service - A Flask application run with Gunicorn.
After=network.target
 
[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/application/
ExecStart=/var/www/application/venv/bin/gunicorn --workers {{ num_workers }} --bind unix:/var/www/application/application.sock wsgi:app
 
[Install]
WantedBy=multi-user.target
